<div class="auth-wrapper">
  <mat-card class="auth-card">
    <mat-card-header >
      <div mat-card-avatar class="auth-card-header-failed"></div>
      <mat-card-title>Unfortunately</mat-card-title>
      <mat-card-subtitle color="#000000">Authentication failed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
         src="http://www.clker.com/cliparts/b/7/7/c/12247843801937558056schoolfreeware_Cancel.svg.hi.png" alt="Photo of a Shiba Inu">
    <mat-card-content>

    </mat-card-content>
  </mat-card>
</div>
